/* Importando fonte */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: #f0f0f0;
  color: #333;
  transition: background 0.4s, color 0.4s;
}

/* Containers */
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
}

/* Header */
header {
  background: #333;
  color: rgb(255, 255, 255);
  padding: 15px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
}

header .container a{
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
}
header a:hover{
  color: #0077b6;
}

header button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

/* Seções */
h2 {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;

}

.about {
  text-align: center;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
.profile-pic {
  border-radius: 50%;
  margin: 15px 0;
  width: 180px;
  border: 3px solid #333;
}


/* Projetos */
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  
}
.project-list p{
  font-family: Arial, Helvetica, sans-serif;
}

.project-card {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  
}

.project-card:hover {
  transform: translateY(-5px);
}
.project-card a {
  text-decoration: none;
  color: #333;
  font-weight: bold;

}
.project-card a:hover {
  color: #0077b6;
}

/* skills */
.skills-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
  justify-content:space-between;
  max-width:900px;
  margin: auto;

}
.skills-cards .card{
  background: white;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-display:swap;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-weight: bold;

}
.skills-cards .card:hover{
 transform: translateY(-5px);
}

/* Contato */
.contact {
  text-align: center;
}
.links a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.links a:hover {
  color: #0077b6;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}

/* Dark mode */
.dark {
  background: #1a1a1a;
  color: #eee;
}
.dark header {
  background: #000000;
}
.dark .project-card {
  background: #2a2a2a;
}
.dark .links a {
  color: #eee;
}
.dark .links a:hover {
  color: #00b4d8;
}
.dark h2{
  color: #776f6f
}
.dark .card{
  background: #2a2a2a;
  color: #eeee;

}
