/* Importando fonte */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: #f0f0f0;
  color: #333;
  transition: background 0.4s, color 0.4s;
}
*{
  scroll-behavior: smooth;
}

/* Containers */
.container {
  width: 90%;
  max-width:900px;
  margin: auto;
  padding: 5px;
}

/* Header */
header {
  background: #333;
  color: rgb(255, 255, 255);
  padding: 15px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
}

header .container a{
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
}
header a:hover{
  color: #0077b6;
}

header button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

/* imagem sobre mim */
#img_sobre{
  display: flex;
  justify-content: center;
  
}
#img_sobre img {
  height: 300px;
  width: 300px; 
  object-fit: cover; 
  border-radius: 50%;
  margin-bottom: 10px;
}

/* menu mobile */
.botao-abrir-menu{
  display: none;
  align-items: center;
  gap: 5px;
}

.botao-abrir-menu i{
  color: #fd0000;
  font-size: 30px;
}

.menu-mobile.abrir-menu{
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
  display: block;
}

.menu-mobile{
  background: rgb(0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: .5s;
}

.menu-mobile nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}

.menu-mobile nav ul li a{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  text-decoration: none;
  display: block;

}
.menu-mobile nav ul li a:hover{
  background-color: #0077b6;

}

.overlay-menu{
  background: #000000a8;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

.menu-mobile .botao-fechar i{
  color: #0077b6;
  font-size: 40px;

}
  

/* Seções */
h2 {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;

}

.about {
  text-align: center;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
.about p{
  font-weight: 600;
}
.profile-pic {
  border-radius: 50%;
  margin: 15px 0;
  width: 180px;
  border: 3px solid #333;
}


/* Projetos */
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  
}
.project-list p{
  font-family: Arial, Helvetica, sans-serif;
}

.project-card {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  
}

.project-card:hover {
  transform: translateY(-5px);
}
.project-card a {
  text-decoration: none;
  color: #333;
  font-weight: bold;

}
.project-card a:hover {
  color: #0077b6;
}

/* skills */
.skills-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  max-width:900px;
  margin: auto;

}
.skills-cards .card{
  background: white;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-display:swap;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-weight: bold;

}
.skills-cards .card:hover{
 transform: translateY(-5px);
}

/* certificações */

.certificados-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: start;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;

 }
 .certificados{
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 80%;
  text-align: center;
  font-weight: bold;
  

 }
 .certificados img{
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
 }
.certificados:hover{
  transform: translateY(-5px);
}

/* Contato */
.contact {
  text-align: center;
}
.links a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.links a:hover {
  color: #0077b6;
}

/* mapa */
.container-contato {
  display: flex;
  justify-content: center; /* Centraliza tudo horizontalmente */
  align-items: flex-start;  /* Alinha pelo topo */
  gap: 30px;                /* Espaço entre mapa e formulário */
  flex-wrap: wrap;          /* Faz empilhar no mobile */
  margin-top: 20px;
}
#mapa iframe{ 
  width: 350px;
  height: 450px;
  border-radius: 8px;
  border: 0;
}

/* fomulario de contato */

#formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  min-height: auto;
}

/* Estiliza o container do form */
#formulario form {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
}


/* Título */
#formulario h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 22px;
}

/* Labels */
#formulario label {
  text-align: left;
  color: #555;
  font-weight: 600;
  display: block;
  width: 100%;
  line-height: 1px;
}

/* Inputs e textarea */
#formulario input,
#formulario textarea {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-size: 15px;
  transition: all 0.3s ease;
  resize: vertical;
}

#formulario input:focus,
#formulario textarea:focus {
  border-color: #0078ff;
  box-shadow: 0 0 4px rgba(0, 120, 255, 0.4);
  outline: none;
}

/* Botão */
#formulario button {
  background-color: #0078ff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#formulario button:hover {
  background-color: #005fcc;
}






/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}

#ancora a{
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
  padding: 10px;
}
#ancora a:hover{
  color: #0077b6;
}

/* Dark mode */
.dark {
  background: #1a1a1a;
  color: #eee;
}
.dark header {
  background: #000000;
}
.dark .project-card {
  background: #2a2a2a;
}
.dark .links a {
  color: #eee;
}
.dark .links a:hover {
  color: #00b4d8;
}
.dark h2{
  color: #a19797;
}
.dark .card{
  background:#2a2a2a;
  color: #eee;
}
.dark .certificados{
  background: #2a2a2a;
  color: #eee;
}
.dark #formulario form{
  background: #2a2a2a;
}
.dark #formulario form h3{
  color: #a19797 ;
}
.dark #formulario form label{
  color:  #a19797;

}



/* responsivo */

@media screen and (max-width: 645px){
  header .container a{
   display: none;
  }
  .about p{
    padding: 10px;
  }
  .skills-cards{
    padding: 20px;
  }
  .botao-abrir-menu{
    display: flex;
  }
  .certificados-card{
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
  }
  .certificados{
    text-align: center;

  }

}
@media (max-width: 768px) {
  .container-contato {
    flex-direction: column;
    align-items: center;
  }

  #mapa iframe {
    width: 100%;
    max-width: 400px;
    height: 300px;
  }

  #formulario form {
    width: 90%;
    max-width: 350px;
  }
}